*{
    margin: 0;
    padding: 0;
}


body{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: white;
  
}



/* Shared Style */
.display-flex{
    display: flex;
}

.bg-dark{
    background-color: #1A0B2E;
}



/* header section related style */
.navbar{
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
    max-width: 1600px;
    margin: 0 auto;
}
.nav-link{
    font-size: 1rem;
    color: white;
    text-decoration: none;
    gap: 32px;
}
.nav-item{
    list-style: none;
}

.nav-btn{
    background: linear-gradient(47.68deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    color: white;
    font-weight: 600;
    font-size: 1rem;
    padding: 12px 16px;
    border-radius: 10px;
    gap: 4px;
    justify-content: center;
    align-items: center;
    border: none;
}
.navbar>span{
    color: white;
    display: none;
}



/* Banner Section Style Start */

.banner-section{
    max-width: 1600px;
    margin: 0 auto;
    background-image: url(../assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}


.parent-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 10px;
}

.banner-icon{
    position: relative;
    width: 350px;
    height: 350px;
    overflow: hidden;
}
.icon-bg{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
#new-btn{
    display: inline;
    position: absolute;
    left: 56%;
    top: 32%;
    z-index: 3;
    font-size: 1.12rem;
    font-weight: 600;
    background-color: #00FF88;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    border-radius: 20px;
    padding: 8px 16px;
    width: 78px;
    height: 38px;
    border: none;
}

#banner-title{
    margin-top: 40px;
    font-size: 3.75rem;
    font-weight: 800;
}
.banner-description{
    margin-top: 8px;
    margin-bottom: 24px;
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.8;
}

#btn-container{
    display: flex;
    gap: 8px;
}
.spotify-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    background: linear-gradient(47.64deg, #F7E93F 0%,#FB09B4 51%,#9100F8 100%);
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    color: white;
}

.subscribe-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 20px;
    border-radius: 50px;
    border: 1px solid #00FF88;
    background: transparent;
    color: white;
    font-size: 1rem;
    font-weight: 600;
}

@media screen and (max-width:576px){
    .brand{
        width: 132px;
    }
    .nav-link, .nav-btn{
        display: none;
    }
    .navbar>span{
        color: white;
        display: inline;
    }
}